# Hugo generated directories that are not part of the contents
resources/

# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS 
.DS_Store
.AppleDouble/

package-lock.json
.cache
.firebase/
.hugo_build.lock
._config.yml

# Py3 venv
venv/

# ignore the themes
themes/

