# Hugo generated directories that are not part of the contents
resources/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS 
.DS_Store
.AppleDouble/

package-lock.json
.cache
.firebase/
.hugo_build.lock

# Py3 venv
venv/

# ignore the academic theme
themes/academic/

