/*****
Order is important! The latter ones can override the former ones
*****/

div.tag-cloud a {
  margin: 0px 30px 0px 0px;
  line-height: 1;
}

.section-heading h1 {
  font-size: 1.4rem;
  line-height: 1;
}

.dark p {
  font-weight: 300;
}

.dark ul {
  font-weight: 300;
}

div.alert.alert-note p {
   font-weight: 400;
}

body {
  background: #eeeeee;
  color: #404040;
}

body.dark {
  color: #dadada;
}

.dark .navbar {
  background: #dadada;
}

footer {
  margin: 0 0 0;
}

.dark blockquote {
  color: #dadada;
}

.dark div.media-body a {
  color: #dadada;
}

.dark div.article-container a:hover {
  color: #e02000;
  border-bottom: none;
}

.dark div.media.author-card.content-widget-hr a:hover {
  color: #dadada;
  border-bottom: none;
}

.dark div.article-tags a:hover {
  color: #dadada;
  border-bottom: none;
}

.dark ul.share a:hover {
  color: #dadada;
  border-bottom: none;
}

.dark div.article-container.pt-3 a:hover {
  color: #dadada;
  border-bottom: none;
}

.dark div.article-container a {
  color: #dadada;
  text-decoration: none;
  border-bottom: 1px solid #d72000;
  transition: color 0.3s ease;
}

.dark div.alert-note a {
   color: #12537e;
}

.dark div.article-container.pt-3 a {
  border-bottom: none;  
}

.dark div.media.author-card.content-widget-hr a {
  border-bottom: none;
}

.dark div.article-tags a {
  border-bottom: none;
}

.dark ul.share a {
  border-bottom: none;
}

.dark div.tag-cloud a:hover {
  text-decoration: none;
}

/** used in shortcode my-dropcap **/
.my-dropcap {
   float: left;
   font-size: 3.2rem;
   margin-right: 0.1rem;
   margin-top: 0.63rem;
   line-height: 2rem;
}

div.article-container.pt-3 h1 {
  font-size: 1.9rem !important;
}

div.article-container h2 {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

div.article-container h3 {
  font-size: 1rem;
}

.article-style figure img {
  border-radius: 5px;
}

.featured-image {
  border-radius: 5px;
}

div.ml-3 a img {
  border-radius: 5px;
}

.article-header-caption {
  border-radius: 5px 0 5px 0;
}

.article-header-caption a:hover {
  color: #dadada !important;
  border-bottom: none;
}

.article-header-caption a {
  border-bottom: none !important;
}

/* Gist Embed - Dark Theme Styling */
/* https://gist.github.com/Reelix/c92051efb62171e868daf57aaa1f9f88 */ 
/* Modified by davidxiao.me */ 
/* Body */

.dark .gist-data tbody {
  background-color: #44475a;
}

/* Line Number Column */
.dark .gist-data tbody td:nth-of-type(1) {
  color: #2B91AF !important;
}

.gist-data tbody td:nth-of-type(1) {
  border-top: none;
}

/* Code Column */
.dark .gist-data tbody td:nth-of-type(2) {
  color: #dadada !important;
}

/* Even row */
.dark .gist-data tbody tr:nth-of-type(even) {
  background-color: #323440 !important;
}

/* Comments */
.dark .pl-c {
  color: #57A64A !important;
}

/* Function */
.dark .pl-k, tbody tr:first-child .blob-code, tbody tr:last-child .blob-code {
  color: #569CD6 !important;
}

/* Function Name */
.dark .pl-en {
  color: #eeeeee !important;
}

/* Function Method */
.dark .pl-c1 {
  color: #eeeeee !important;
}
/* "'s around Strings */
.dark .pl-pds {
  color: #D69D85 !important;
}

/* Strings */
.dark .pl-s {
  color: #D69D85 !important;
}

.dark .pl-smi {
  color: #dadada !important;
}

.dark .gist .gist-meta {
  color: #dadada;
  background: #44475a;
}

.dark .gist .gist-meta a:hover {
  color: #dadada;
  border-bottom: none;
}

.dark .gist .gist-meta a {
  border-bottom: none;
}

.gist .gist-file {
  border-radius: 5px  !important;
}
  
.gist .gist-data {
  border-radius: 5px 5px 0px 0px !important;
}
  
.gist .gist-meta {
  border-radius: 0px 0px 5px 5px !important;
}
